body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f4f6f9;

}

.container{

display:flex;
height:100vh;

}


/* Sidebar */

.sidebar{

width:220px;
background:#1e293b;
color:white;
padding:20px;

}

.sidebar h2{

text-align:center;

}

.sidebar ul{

list-style:none;
padding:0;

}

.sidebar ul li{

padding:12px;
margin:10px 0;
background:#334155;
border-radius:6px;
cursor:pointer;

}

.sidebar ul li:hover{

background:#475569;

}


/* Main Content */

.main-content{

flex:1;
padding:20px;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

}

.add-btn{

background:#22c55e;
color:white;
border:none;
padding:10px 15px;
border-radius:5px;
cursor:pointer;

}

.add-btn:hover{

background:#16a34a;

}


/* Cards */

.cards{

display:flex;
gap:20px;
margin-top:20px;

}

.card{

background:white;
padding:20px;
flex:1;
border-radius:8px;
box-shadow:0px 2px 6px rgba(0,0,0,0.1);

}

.card h3{

margin:0;

}


/* Table */

.table-section{

margin-top:30px;
background:white;
padding:20px;
border-radius:8px;
box-shadow:0px 2px 6px rgba(0,0,0,0.1);

}

table{

width:100%;
border-collapse:collapse;

}

th, td{

padding:12px;
text-align:left;
border-bottom:1px solid #ddd;

}

.edit{

background:#3b82f6;
color:white;
border:none;
padding:6px 10px;
border-radius:4px;

}

.delete{

background:#ef4444;
color:white;
border:none;
padding:6px 10px;
border-radius:4px;

}

.edit:hover{

background:#2563eb;

}

.delete:hover{

background:#dc2626;

}