body{

font-family:Arial;
background:#f5f5f5;

}

.booking-container{

width:600px;
margin:auto;
background:white;
padding:30px;
margin-top:50px;

}

button{

background:black;
color:white;
padding:10px 20px;
border:none;

}